<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
            {% with msg = get_flashed_messages() %}
            {% if msg %}
            {% for m in msg %}
            <div class="alert alert-success">{{ m }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <h1 class="mt-5">Hi Welcome !!! {{username}}</h1>
        <form action="" method="">
            <button type="submit" class="btn btn-secondary mt-3">About Us</button>
        </form>
        <form action="/profile" method="GET">
            <button type="submit" class="btn btn-secondary mt-3">My Profile</button>
        </form>
    </div>
    <!-- Bootstrap JS (Optional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
